<h1>Cover Letters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cover_letters.each do |cover_letter| %>
      <tr>
        <td><%= cover_letter.name %></td>
        <td><%= link_to 'Show', cover_letter %></td>
        <td><%= link_to 'Edit', edit_cover_letter_path(cover_letter) %></td>
        <td><%= link_to 'Destroy', cover_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cover Letter', new_cover_letter_path %>
